/* remove html defaults */
body{
  padding:0px;
  margin: 0px;;
}

.header  {
  font-family: monospace;
/* for alignment */
  /* background: papayawhip; */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
/* removed padding from ul */
  padding: 0px;
/* gap between items in UL's */
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}


/* .header, .logo, .right-links, .left-links */
.header
{
  /* padding inside border of header container */
padding: 8px;
display: flex;
align-items: center;
justify-content: space-between;
}


.left-links ul, .right-links ul{
  display: flex;
}